<!-- GuessGameLists -->
<div class="sub-template container">

    <div class="span5">
        <h2>
            {{#if item}}
                {{{t "app.guess.game.items.question"}}}
            {{else}}
                {{{question}}}
                <!-- {{#if isAutoList}} yeah, auto!{{/if}} -->
            {{/if}}
        </h2>

        <form action="#">
            <input type="number" class="response" placeholder="{{t "app.guess.game.what_do_you_guess"}}" autofocus
                   required/>

            <button type="submit" class="btn btn-primary">{{t "app.guess.game.input_button"}}</button>

            <div class="warning">
                <span class="label label-warning">{{t "app.common.hint"}}</span>
                <span>{{t "app.common.only_numbers"}}</span>
            </div>
        </form>
    </div>

    <div class="span5 offset1">
        {{#if picture}}
            <div class="image image-container" style="background-image: url( {{picture.url}} );">
                <img src="{{picture.url}}"/>

                <p class="title">{{picture.caption}}</p>
            </div>
        {{/if}}

        {{#if status}}
            <div class="status status-container">
                <p class="message">{{status.caption}}</p>

                <p class="date">{{status.date}}</p>
                <ul class="shadow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        {{/if}}

    </div>

</div>