<!-- GuessResult -->
<div class="result guess">

    <h1>{{t "app.guess.result.headline"}}</h1>

    <h2>{{t "app.guess.game.lists.name"}}</h2>

    <div class="result-lists">
        <p>{{t "app.guess.result.lists.description"}}</p>

        <ul class="result ">
            <!-- friends -->
            <li class="divider collapsable">
                <div class="head">
                    <h2>{{t "app.guess.result.lists.friends_headline"}}</h2>

                    <p>
                        {{lists.friends.result_text}}<br/>
                        <a class="btn btn-small btn-primary control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    <li>
                        <p class="info">
                            <span class="title">{{t "app.guess.result.answer"}}</span> {{lists.friends.details.user_value}}
                            <br/>
                            <span class="title">{{t "app.guess.result.correct"}}</span> {{lists.friends.details.correct_value}}
                            <br/>
                            <span class="title">{{t "app.guess.result.difference"}}</span> {{lists.friends.details.difference}}
                            %<br/>
                            <span class="title">{{t "app.guess.result.rating"}}</span> {{lists.friends.details.rating}}
                        </p>
                    </li>
                </ul>

            </li>

            <!-- user_lists -->
            <li class="divider collapsable">

                <div class="head">
                    <h2>{{t "app.guess.result.lists.user_headline"}}</h2>

                    <p>
                        {{lists.user.result_text}}<br/>
                        <a class="btn btn-small btn-primary control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    {{#each lists.user.details}}
                        <li>
                            <h3>{{item_name}}</h3>

                            <p class="info">
                                <span class="title">{{t "app.guess.result.answer"}}</span> {{user_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.correct"}}</span> {{correct_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.difference"}}</span> {{difference}}%<br/>
                                <span class="title">{{t "app.guess.result.rating"}}</span> {{rating}}
                            </p>
                        </li>
                    {{/each}}
                </ul>

            </li>

            <!-- auto_lists -->
            <li class="collapsable">

                <div class="head">
                    <h2>{{t "app.guess.result.lists.auto_headline"}}</h2>

                    <p>
                        {{lists.auto.result_text}}<br/>
                        <a class="btn btn-small btn-primary control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    {{#each lists.auto.details}}
                        <li>
                            <h3>{{item_name}}</h3>

                            <p class="info">
                                <span class="title">{{t "app.guess.result.answer"}}</span> {{user_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.correct"}}</span> {{correct_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.difference"}}</span> {{difference}}%<br/>
                                <span class="title">{{t "app.guess.result.rating"}}</span> {{rating}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </li>

        </ul>

    </div>

    <hr />

    <h2>{{t "app.guess.game.items.name"}}</h2>

    <div class="result-lists">
        <p>{{t "app.guess.result.lists.description"}}</p>

        <ul class="result collapsable two">
            <!-- friends -->
            <li class="divider">
                <div class="head">
                    <h2>{{t "app.guess.result.items.list_headline"}} & {{t "app.guess.result.items.user_headline"}}</h2>

                    <p>
                        {{items.individual.result_text_list}}<br/>
                        {{items.individual.result_text_user}}<br/>
                        <a class="btn btn-small btn-primary control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details items">
                    {{#each items.individual.details}}
                        <li>
                            <p class="info">
                                <span class="title">{{t "app.guess.result.items.visible_for"}}</span> {{visible_for}}
                                <br/>
                                <span class="title">{{t "app.guess.result.items.denied_for"}}</span> {{denied_for}}
                                <br/>
                                <span class="title">{{t "app.guess.result.answer"}}</span> {{user_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.correct"}}</span> {{correct_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.difference"}}</span> {{difference}}%<br/>
                            </p>

                            {{#if picture}}
                                <div class="item image" style="background-image: url( {{picture.url}} );"
                                     data-tooltip="{{picture.caption}}"></div>
                            {{/if}}

                            {{#if status}}
                                <div class="item status status-container">
                                    <p class="message">{{status.caption}}</p>

                                    <p class="date">{{status.date}}</p>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>

            </li>

            <!-- auto_lists -->
            <li class="collapsable">

                <div class="head">
                    <h2>{{t "app.guess.result.items.public_headline"}}</h2>

                    <p>
                        {{items.public.result_text}}<br/>
                        <a class="btn btn-small btn-primary control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details items">
                    {{#each items.public.details}}
                        <li>
                            {{#if picture}}
                                <div class="item image" style="background-image: url( {{picture.url}} );"
                                     data-tooltip="{{picture.caption}}"></div>
                            {{/if}}

                            {{#if status}}
                                <div class="item status status-container">
                                    <p class="message">{{status.caption}}</p>

                                    <p class="date">{{status.date}}</p>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </li>

        </ul>

    </div>


</div>