<!-- GuessResultLists -->
<div class="sub-template container">

    <div id="result-lists">
        <p>{{t "app.guess.result.lists.description"}}</p>

        <ul class="result ">
            <!-- friends -->
            <li class="divider collapsable">
                <div class="head">
                    <h2>{{t "app.guess.result.lists.friends_headline"}}</h2>

                    <p>
                        {{friends.result_text}}<br/>
                        <a class="btn btn-small btn-inverse control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    <li>
                        <p class="info">
                            <span class="title">{{t "app.guess.result.answer"}}</span> {{friends.details.user_value}}
                            <br/>
                            <span class="title">{{t "app.guess.result.correct"}}</span> {{friends.details.correct_value}}
                            <br/>
                            <span class="title">{{t "app.guess.result.difference"}}</span> {{friends.details.difference}}
                            %<br/>
                            <span class="title">{{t "app.guess.result.rating"}}</span> {{friends.details.rating}}
                        </p>
                    </li>
                </ul>

            </li>

            <!-- user_lists -->
            <li class="divider collapsable">

                <div class="head">
                    <h2>{{t "app.guess.result.lists.user_headline"}}</h2>

                    <p>
                        {{user.result_text}}<br/>
                        <a class="btn btn-small btn-inverse control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    {{#each user.details}}
                        <li>
                            <h3>{{item_name}}</h3>

                            <p class="info">
                                <span class="title">{{t "app.guess.result.answer"}}</span> {{user_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.correct"}}</span> {{correct_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.difference"}}</span> {{difference}}%<br/>
                                <span class="title">{{t "app.guess.result.rating"}}</span> {{rating}}
                            </p>
                        </li>
                    {{/each}}
                </ul>

            </li>

            <!-- auto_lists -->
            <li class="collapsable">

                <div class="head">
                    <h2>{{t "app.guess.result.lists.auto_headline"}}</h2>

                    <p>
                        {{auto.result_text}}<br/>
                        <a class="btn btn-small btn-inverse control">
                            <i>&#8505;</i> <span>{{t "app.common.more_info"}}</span>
                        </a>
                    </p>
                </div>

                <ul class="body details">
                    {{#each auto.details}}
                        <li>
                            <h3>{{item_name}}</h3>

                            <p class="info">
                                <span class="title">{{t "app.guess.result.answer"}}</span> {{user_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.correct"}}</span> {{correct_value}}
                                <br/>
                                <span class="title">{{t "app.guess.result.difference"}}</span> {{difference}}%<br/>
                                <span class="title">{{t "app.guess.result.rating"}}</span> {{rating}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </li>

        </ul>

    </div>

</div>