<!-- HangmanResultTemplate -->
<div class="result">

    <h1>{{t "app.hangman.result.headline"}}</h1>

    <p>
        {{t "app.hangman.result.description"}}
    </p>

    <ul class="details">
        {{#each results}}
            <li>
                <p class="info">
                    <span class="title">{{t "app.hangman.result.duration"}}</span> {{duration}} {{t "app.common.seconds"}}
                    <br/>
                    <span class="title">{{t "app.hangman.result.errors"}}</span> {{errors}}<br/>
                    <span class="title">{{t "app.common.points"}}</span> {{points}}
                </p>

                {{#if picture}}
                    <div class="item image" style="background-image: url( {{picture.url}} );"
                         data-tooltip="{{picture.caption}}"></div>
                {{/if}}

                {{#if status}}
                    <div class="item status status-container">
                        <p class="message">{{status.caption}}</p>
                        <p class="date">{{status.date}}</p>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>

    <div class="overall">
        <h3>{{t "app.hangman.result.overall"}}</h3>

        <p class="info lead">
            <span class="title">{{t "app.hangman.result.duration"}}</span> {{totals.duration}} {{t "app.common.seconds"}}
            <br/>
            <span class="title">{{t "app.hangman.result.errors"}}</span> {{totals.errors}}<br/>
            <span class="title">{{t "app.common.points"}}</span> {{totals.points}}
        </p>

        <h2>{{totals.rating}}</h2>
    </div>

</div>
