<!-- Result -->
<div class="result">

    <h1>
        <e class="large">&#127942;</e>
        {{totals.points}}
    </h1>

    <div class="share">
        <button id="sharepoints" class="btn btn-primary">
            Score bei FB posten
        </button>

        <button id="playagain" class="btn btn-primary">
            Nochmal spielen
        </button>
    </div>

    <ul class="results">
        <!-- hangman -->
        {{#each hangman}}
            <li class="collapsable">

                <div class="head">
                    <span class="title">
                        Find your Friends #{{math @index 1}}
                    </span>
                    <span class="points">
                        +{{points}}
                    </span>
                    <e class="control">&#59141;</e>
                </div>

                <div class="body">

                    <div class="object">
                        <p class="info">
                            <span class="title">{{t "app.hangman.result.duration"}}</span> {{duration}} {{t "app.common.seconds"}}
                            <br/>
                            <span class="title">{{t "app.common.points"}}</span> {{points}}
                        </p>

                        {{#if picture}}
                            <div class="item image" style="background-image: url( {{picture.url}} );"
                                 data-tooltip="{{picture.caption}}"></div>
                        {{/if}}

                        {{#if status}}
                            <div class="item status status-container">
                                <p class="message">{{status.caption}}</p>

                                <p class="date">{{status.date}}</p>
                            </div>
                        {{/if}}
                    </div>
                    <ul class="wrongs">
                        {{#each wrongs}}
                            <li style="background-image: url( https://graph.facebook.com/{{id}}/picture?width=50&height=50 );"
                                data-title="{{name}}"
                                data-id="{{id}}"
                                data-name="{{name}}"></li>
                        {{/each}}
                    </ul>

                </div>
            </li>
        {{/each}}

        <!-- has list -->
        <li class="collapsable divider">
            <div class="head">
                    <span class="title">
                        Selbst Listen erstellt
                    </span>
                    <span class="points">
                        <span class="multi">{{lists.number_has_lists}}</span>
                        +{{points.per_list}}
                    </span>
                <e class="control">&#59141;</e>
            </div>

            {{#if totals.show_create_list_warning}}
                <div class="warning">
                    <e>&#9888;</e>
                    Du hast bisher keine Listen erstellt.
                    <a href="#rec-create">Weißt du nicht wie das geht?</a>
                </div>
            {{else}}
                <div class="body">
                    Deine selbst erstellten Listen: {{lists.created_lists}}
                </div>
            {{/if}}

        </li>

        <!-- use list -->
        <li class="collapsable">
            <div class="head">
                    <span class="title">
                        Verwendete Listen
                    </span>
                    <span class="points">
                        <span class="multi">{{lists.number_uses_lists}}</span>
                        +{{points.use_list}}
                    </span>
                <e class="control">&#59141;</e>
            </div>

            {{#if totals.show_use_list_warning}}
                <div class="warning">
                    <e>&#9888;</e>
                    Du hast bisher keine Listen verwendet.
                    <a href="#rec-use">Weißt du nicht wie das geht?</a>
                </div>
            {{else}}
                <div class="body">
                    Folgende Listen hast du mindestens einmal verwendet: {{lists.used_lists}}
                </div>
            {{/if}}
        </li>

        {{#if lists.number_public_items}}
            <!--  public -->
            <li class="divider">
                <div class="head">
                    <span class="title">
                        Öffentliche Items
                    </span>
                    <span class="points negative">
                        <span class="multi">{{lists.number_public_items}}</span>
                        -{{points.per_public}}
                    </span>
                    <e class="control">&#59141;</e>
                </div>
                <span class="warning">
                    <e>&#59140;</e>
                    <a href="#rec-points">Wieso werden mit Punkte abgezogen?</a>
                </span>
            </li>
        {{/if}}

        <!--  public -->
        <li class="collapsable divider totals">
            <div class="head">
                 <span class="title">
                        Gesamt
                    </span>
                    <span class="points">
                        {{totals.points}}
                    </span>
            </div>
        </li>

    </ul>


</div>