<div class="scope half-width">
    <h1>{{t "app.select.game_usage"}}</h1>

    <p class="lead">{{t "app.select.what_to_use"}}</p>

    <p class="btn-group">
        <button class="btn btn-primary images">{{t "app.select.play_with_images"}}</button>
        <button class="btn btn-primary statuses">{{t "app.select.play_with_statuses"}}</button>
        <button class="btn btn-primary both">{{t "app.select.play_with_both"}}</button>
    </p>
</div>

<div class="body full-width">
    <h1>{{t "app.select.headline"}}</h1>

    <div class="center-outer">
        <div class="center-inner">
            <div class="item item1 leftern">
            </div>

            <div class="item item2 rightern">
            </div>
        </div>
    </div>
</div>

<div class="result half-width">
    <h1>{{t "app.select.result.final_ranking"}}</h1>

    <ul>
        <li>
            <div class="position"></div>
            <div class="item"></div>
            <p class="description"></p>
            <div class="points"></div>
        </li>
    </ul>

</div>