<div class="body">
    <h1>{{t "app.select.headline"}}</h1>

    <div class="center-outer">
        <div class="center-inner">
            <div class="item item1 leftern">
            </div>

            <div class="item item2 rightern">
            </div>
        </div>
    </div>
</div>

<div id="game-scope" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel">{{t "app.select.game_usage"}}</h3>
    </div>
    <div class="modal-body">
        {{t "app.select.what_to_use"}}

        <p>
            <button class="btn btn-primary images">{{t "app.select.play_with_images"}}</button>
            <button class="btn btn-primary statuses">{{t "app.select.play_with_statuses"}}</button>
            <button class="btn btn-primary both">{{t "app.select.play_with_both"}}</button>
        </p>
    </div>
</div>