<!-- SelectResultTemplate -->
<div class="select result">

    <h1>{{t "app.select.result.final_ranking"}}</h1>

    <ul class="details">
        {{#each results.winner}}
            <li class="winner">
                {{#if picture}}
                    <div class="item image" style="background-image: url( {{picture.url}} );"
                         data-tooltip="{{picture.caption}}"></div>
                {{/if}}

                {{#if status}}
                    <div class="item status status-container">
                        <p class="message">{{status.caption}}</p>

                        <p class="date">{{status.date}}</p>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>

    <ul class="details">
        {{#each results.looser}}
            <li>
                {{#if picture}}
                    <div class="item image" style="background-image: url( {{picture.url}} );"
                         data-tooltip="{{picture.caption}}"></div>
                {{/if}}

                {{#if status}}
                    <div class="item status status-container">
                        <p class="message">{{status.caption}}</p>

                        <p class="date">{{status.date}}</p>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>


</div>
