<!-- GuessGame -->
<div class="recommendation-long">

    <h2>{{t "app.recommendations.headline"}}</h2>

    <ul class="pairs">
        <li id="rec-friend" class="pair {{#if recommendations.friend}}highlight{{/if}}">
            <h3>{{t "app.recommendations.friend.headline"}}</h3>

            <p>{{t "app.recommendations.friend.body"}}</p>
        </li>

        <li id="rec-create" class="pair {{#if recommendations.lists_create}}highlight{{/if}}">
            <h3>{{t "app.recommendations.lists_create.headline"}}</h3>

            <p>{{t "app.recommendations.lists_create.body"}}</p>
        </li>

        <li id="rec-use" class="pair {{#if recommendations.lists_use}}highlight{{/if}}">
            <h3>{{t "app.recommendations.lists_use.headline"}}</h3>

            <p>{{t "app.recommendations.lists_use.body"}}</p>
        </li>

        <li id="rec-share" class="pair {{#if recommendations.sharing}}highlight{{/if}}">
            <h3>{{t "app.recommendations.sharing.headline"}}</h3>

            <p>{{t "app.recommendations.sharing.body"}}</p>
        </li>

        <li id="rec-def" class="pair {{#if recommendations.defaults}}highlight{{/if}}">
            <h3>{{t "app.recommendations.defaults.headline"}}</h3>

            <p>{{t "app.recommendations.defaults.body"}}</p>
        </li>

        <li id="rec-past" class="pair {{#if recommendations.hide_past}}highlight{{/if}}">
            <h3>{{t "app.recommendations.hide_past.headline"}}</h3>

            <p>{{t "app.recommendations.hide_past.body"}}</p>
        </li>

        <li id="rec-publish" class="pair {{#if recommendations.publish_items}}highlight{{/if}}">
            <h3>{{t "app.recommendations.publish_items.headline"}}</h3>

            <p>{{t "app.recommendations.publish_items.body"}}</p>
        </li>
    </ul>

</div>

<hr class="container"/>